
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
section {
    border: 10px solid gray;
    height: 100vh;
    display: flex; 
    background-color: goldenrod;
}
.container {
    border: 20px solid gray;
    max-width: 700px;
    height: 79%;
    width: 100%;
    margin: auto;
    background-color:purple;
}
h1{
    color: goldenrod;
}
.fa fa-search button {
    border:none;
    cursor:pointer;
    display: inline-block;
    font-size: 20px;
    padding: 18px 20px;
    z-index: 2;
    

}